/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Root */
:root {
  --font-family: "Inter", serif;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;

  --color-danger: #c93847;

  --bg-primary: #f4f5fb;
  --bg-secondary: #fff;

  --content-color-primary: #080b12;
  --content-color-secondary: #374151;
  --content-color-tertiary: #9ca3af;
  --content-color-always-white: #fff;

  --border-color-primary: #d1d5db;
  --border-color-hover: #b9c2d0;

  font-size: 62.5%; /* 10px */
}

/* General */
body,
input,
select,
textarea,
button,
::placeholder {
  font-family: var(--font-family);
}

body {
  font-size: 1.6rem;
  font-optical-sizing: auto;
  background: var(--bg-primary);
}

h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--content-color-primary);
}

form input,
form button,
.list-items li,
.toasty {
  border-radius: 1.2rem;
}

form input,
form button,
.list-items li::before,
.list-items button {
  transition: all ease 0.3s;
}

/* Page */
#page {
  width: 100%;
  max-width: 325px;
  margin: 6.6rem auto 17rem auto;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 4.4rem auto 4rem auto;
}

form input,
form button,
::placeholder {
  font-size: 1.6rem;
}

form input {
  display: block;
  min-height: 44px;
  color: var(--content-color-primary);
  background: var(--bg-secondary);
  border: solid 2px var(--border-color-primary);
  padding: 1.1rem 1.8rem;
  outline: none;
}

form input:hover {
  border-color: var(--border-color-hover);
}

form input:focus {
  border-color: var(--color-brand);
}

::placeholder {
  color: var(--content-color-tertiary);
}

form button {
  padding: 1rem 2.4rem;
  height: 4.4rem;
  background-color: var(--color-brand);
  border: none;
  color: var(--content-color-always-white);
  font-weight: 600;
  cursor: pointer;
}

form button:hover {
  background: var(--color-brand-hover);
}

/* List Items */
.list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.list-items li {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  background: var(--bg-secondary);
  line-height: 2rem;
  font-weight: 500;
  color: var(--content-color-secondary);
  min-height: 5.7rem;
}

.list-items li::before {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.6rem;
  border: solid 1px var(--border-color-primary);
  margin-right: 1.2rem;
}

.list-items li.checked::before {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  background-image: url('data:image/svg+xml,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 7.5L4.75 9.25L10 3.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
}

.list-items button {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  margin-left: auto;
  background-color: transparent;
  background-image: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 4.16666L12.5869 10.8501C12.4813 12.5576 12.4285 13.4114 12.0005 14.0253C11.7889 14.3287 11.5165 14.5849 11.2005 14.7773C10.5614 15.1667 9.706 15.1667 7.99513 15.1667C6.28208 15.1667 5.42553 15.1667 4.78603 14.7766C4.46987 14.5838 4.19733 14.3272 3.98579 14.0232C3.55792 13.4084 3.5063 12.5534 3.40307 10.8435L3 4.16666" stroke="%236B6671" stroke-linecap="round"/><path d="M2 4.16668H14M10.7038 4.16668L10.2487 3.22783C9.9464 2.60418 9.7952 2.29236 9.53447 2.09788C9.47667 2.05474 9.4154 2.01637 9.35133 1.98314C9.0626 1.83334 8.71607 1.83334 8.023 1.83334C7.31253 1.83334 6.95733 1.83334 6.66379 1.98942C6.59873 2.02402 6.53665 2.06394 6.47819 2.10879C6.21443 2.31114 6.06709 2.63438 5.77241 3.28085L5.36861 4.16668" stroke="%236B6671" stroke-linecap="round"/><path d="M6.33325 11.5V7.5" stroke="%236B6671" stroke-linecap="round"/><path d="M9.66675 11.5V7.5" stroke="%236B6671" stroke-linecap="round"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border-radius: 6px;
}

.list-items button:hover {
  background-color: var(--border-color-primary);
}

/* Toasty */
.toasty {
  display: flex;
  align-items: center;
  background-color: var(--color-danger);
  color: var(--content-color-always-white);
  padding: 1.2rem;
  width: 100%;
  max-width: 327px;
  line-height: 2rem;
  font-weight: bold;
  min-height: 4.4rem;
  position: fixed;
  bottom: 20rem;
  left: 50%;
  transform: translateX(-50%);
}

.toasty img {
  margin-right: 8px;
}

.toasty button {
  display: block;
  width: 2rem;
  height: 2rem;
  border: none;
  margin-left: auto;
  background-color: transparent;
  background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L6 4.93934L10.4697 0.46967C10.7626 0.176777 11.2374 0.176777 11.5303 0.46967C11.8232 0.762563 11.8232 1.23744 11.5303 1.53033L7.06066 6L11.5303 10.4697C11.8232 10.7626 11.8232 11.2374 11.5303 11.5303C11.2374 11.8232 10.7626 11.8232 10.4697 11.5303L6 7.06066L1.53033 11.5303C1.23744 11.8232 0.762563 11.8232 0.46967 11.5303C0.176777 11.2374 0.176777 10.7626 0.46967 10.4697L4.93934 6L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967Z" fill="white"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
